@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --prim:#ededed;
    --sec:#000000;
    --cinza:#3d3c3c;
}

::-webkit-scrollbar{
    display: none;
} 

body{
    font-family: "Fira Sans", sans-serif;
}

html{
    background-color: var(--prim);
    color: var(--sec);
    font-size: calc(100vw / 1920 * 10);
}

h1{
    font-size: 15rem;
    font-weight: 200;
    text-transform: uppercase;
}
h2{
    font-size: 4.8rem;
    text-transform: uppercase;
    font-weight: 200;
}
h3{
    font-size: 4rem;
    font-weight: 200;
    text-transform: uppercase;
}

p{
    font-size: 3rem;
    padding-left: 5rem;
    background-color: #94bbbc;
}

li{
    font-size: 2rem;
}

span{
    font-size: 2rem;
    padding-top: 1.5rem;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: var(--prim);
    z-index: 999;
}
.header{
    background-color: var(--prim);
    color: var(--sec);
    border-bottom: 1px solid var(--sec);
    mix-blend-mode: unset;
    background-color: cadetblue;
}
.header_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    grid-template-rows: 1fr;
    padding: 3rem;
}
.header_logo{
    height: 60px;
    width: 200px;
    background-color: #94bbbc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.header_foto-prof{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header_mod{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header_menu{
    display: inline-flex;
    width: fit-content;
    justify-self: end;
    gap: 4rem;
    background-color: #94bbbc;
    padding: 2rem 4rem;
    border-radius: 7px;
    list-style: none;
}
.header_menu li{
    transition: all  .5s ease;
    cursor: pointer;
}
.header_menu li:hover{
    color: var(--prim);
}
.header span{
   display: block;
}


.frame{
    display: flex;
    height: 100vh;
}
.banner{
    width: 60vw;
    display: flex;
    align-items: flex-end;
    padding: 4rem;
    position: relative;
}


.barra-central{
    position: relative;
    display: flex;
}
.barra-central_tab{
    position: relative;
    width: 12rem;
    background-color: var(--prim);
    border-left: 1px solid var(--sec);
}
.barra-central_tab_container{
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    transform: rotate(-90deg);
    transform-origin: left;
    display: flex;
    align-items: center;
    gap: 2rem;
 }
.barra-central_tab_campo{
    background-color: var(--cinza);
    color: var(--prim);
    padding: 2rem;
    border-radius: 200rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria{
    margin-top: 100px;
    background-color: #1c1c1c;
    height: 80%;
    width: 100%;
    transition: all .1s ease;
} 

.smallpic{
    float: right;
}

.smallpic img{
    height: 100px;
    width: 70px;
    display: block;
    margin: 10px 0;
    opacity: .6;
    cursor: pointer;
}

.pic-container{
    float: left;
    padding: 10px;
}

.pic-container img{
    height: 450px;
}

  
