*{
    margin: 0;
    padding: 0;
}

.galeria{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50% -50%);
}

.smallpic{
    float: left;
}

.smallpic img{
    height: 100px;
    width: 70px;
    display: block;
    margin: 10px 0;
    opacity: .6;
    cursor: pointer;
}

.smallpic img:hover{
    opacity: 1;
}

.pic-container{
    float: right;
    padding: 10px;
}

.pic-container img{
    height: 540px;
}