
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --prim:#ededed;
    --sec:#000000;
}

::-webkit-scrollbar{
    display: none;
}

body{
    font-family: "Fira Sans", sans-serif;
}

html{
    background-color: var(--prim);
    color: var(--sec);
    font-size: calc(100vw / 1920 * 10);
}

h1{
    font-size: 20rem;
    font-weight: 200;
    text-transform: uppercase;
}
h2{
    font-size: 4.8rem;
    text-transform: uppercase;
}
h3{
    font-size: 3.2rem;
    text-transform: uppercase;
}

p, li{
    font-size: 2.4rem;
}

span{
    font-size: 1.6rem;
}

main{
    position: relative;
    height: 100%;
    width: max-content;
    display: flex;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: var(--prim);
    z-index: 999;
    mix-blend-mode: difference;
}
/* .header{
    background-color: var(--prim);
    color: var(--sec);
    border-bottom: 1px solid var(--sec);
    mix-blend-mode: unset;
} */
.header_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    grid-template-rows: 1fr;
    padding: 3rem;
}
.header_logo{
    grid-area: 1/1/2/2;
}
.header_role{
    grid-area: 1/2/2/3;
}
.header_status{
    grid-area: 1/3/2/4;
}
.header_pages{
    grid-area: 1/4/2/5;
    display: inline-flex;
    width: fit-content;
    justify-self: end;
    gap: 4rem;
    background-color: orange;
    padding: 2rem 4rem;
    border-radius: 200rem;
}
.header span{
   display: block;
}


.frame{
    position: relative;
    display: flex;
    height: 100vh;
}

.w-intro{
    width: 60vw;
    display: flex;
    align-items: flex-end;
    padding: 4rem;
}

.w-single{
    position: relative;
    display: flex;
}
.w-single:nth-child(2) .w-single_tab,
.w-single:nth-child(3) .w-single_tab,
.w-single:nth-child(4) .w-single_tab{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
.w-single_tab{
    width: 12rem;
    height: 100vh;
    background-color: var(--prim);
    border-left: 1px solid var(--sec);
}
.w-single_tab_container{
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translateX(-50%);
   transform: rotate(-90deg);
   transform-origin: left;
   display: flex;
   align-items: center;
   gap: 2rem;
}
.w-single_tab_field{
    background-color: var(--sec);
    color: var(--prim);
    padding: 2rem;
    border-radius: 200rem;
}
.w-single_gallery{
    background: #000000;
    display: flex;
    overflow: hidden;
}
.w-single_gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: .8;
}

@media screen and (max-width: 768px) {
    html{
        font-size: calc(100vw / 768 * 10);
    }

    h1{
        font-size: 14rem;
        text-transform: uppercase;
    }
    h2{
        font-size: 3.2rem;
        text-transform: uppercase;
    }
    h3{
        font-size: 2.4rem;
        text-transform: uppercase;
    }

    p, li{
        font-size: 2.4rem;
    }
    
    span{
        font-size: 1.6rem;
    }
    
    main{
        width:100%;
        display: block;
    }

    .header{
        background-color: var(--prim);
        color: var(--sec);
        mix-blend-mode: unset;
        border: 1px solid var(--sec);
    }
    .header_role{
        display: none;
    }
    .header_status{
        display: none;
    }

    .frame{
        position: relative;
        display: block;
        height: 100%;
    }

    .w-intro{
        width: 100%;
        height: 50vh;
    }

    .w-single{
        display: block;
    }
    .w-single:nth-child(2) .w-single_tab,
    .w-single:nth-child(3) .w-single_tab,
    .w-single:nth-child(4) .w-single_tab{
        top: 12rem;
    }
    .w-single_tab{
        width: 100%;
        height: 12rem;
        border-left: unset;
        border-top: 1px solid var(--sec);
        border-bottom: 1px solid var(--sec);
    }
    .w-single_tab_container{
        position: relative;
        left: unset;
        bottom: unset;
        transform: unset;
        padding: 2rem;
    }
    .w-single_gallery{
        display: block;
    }
}